html, body, app-root, .app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
}



container, .container-sm, .container-md {
//  max-width: 1770px;
}
