
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  >

  <a style="font-size: 30px" class="navbar-brand" href="/home">Miraziz Kitchen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div color="primary" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div color="accent" class="navbar-nav">

      <a  style="font-size: large" class="nav-item nav-link" routerLink="/recipes">Recepies<span class="sr-only">(current)</span></a>
      <a style="font-size: large"  class="nav-item nav-link" routerLink="/tags">Tags<span class="sr-only">(current)</span></a>
    <!--  <a class="nav-item nav-link" routerLink="/suggestions">Suggestions<span class="sr-only">(current)</span></a>
    --></div>
  </div>

</nav>


