@use '~@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";

@include mat.core();
@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);


@include mat.all-component-themes($dark-theme);
@include mat.strong-focus-indicators-theme($dark-theme);

body {
  margin: 0;
  padding: 0;
  background-color: #ddddf0;
}
.mat-app-background{
  background-color:black;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 100%;
}

.container, .container-fluid,{
padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.min-vh-100 {
  min-height: 70vh !important;
}
.carousel-caption{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 10%;

}
.mat-chip{

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 10%;
}

#save-button{
  display: flex;
  justify-content: center;
  text-align: center;
  border:2px solid #4CAF50;
}

#save-button:hover{
  background-color: #4CAF50;
  text-color:#4CAF50;
}
