@use '~@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
@import '~bootstrap/scss/bootstrap.scss';
@include mat.core();


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-checkbox{
  color:black;
}
.delete-button{
  height:30px

}
.mat-icon {
  font-size: 15px;
 top: -25px;
}
