.mat-list-base .mat-list-item {
  color: black;
}
.mat-icon {
  font-size: 15px;
  top: -25px;
}

 mat-form-field{

   width:500px
 }
input{
   width:450px;font-size: 18px
}
label{
font-size: 21px;
  padding-bottom: 3px;
  vertical-align: middle; text-align: center;

  padding-top: 15px;
}

md-divider {
  border-width: 1px;
  border-style: solid;
}
#recipeImage{
  margin-top: 0%;
  max-width:50%;
  max-height:50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
th{
  font-weight:normal;
}
.recipe-header{
  margin-top: 1%;
  font-weight:bolder;
  font-size: x-large;
}
.recipe-text{
  font-size: large;
}
hr {
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}
.wrapper {
  position: relative;
}
