.mat-list-base .mat-list-item {
  color: black;
}
.mat-icon {
  font-size: 15px;
  top: -25px;
}

 mat-form-field{

   width:500px
 }
input{
   ;width:450px;font-size: 18px
}
label{
font-size: 21px;
  padding-bottom: 3px;

  padding-top: 15px;
}

md-divider {
  border-width: 1px;
  border-style: solid;
}
