<div *ngIf="displayAlert" class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Task: </strong> {{alertMessage}}
  <button type="button" (click)="hideAlert($event)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="card">

  <button style="width:100px" mat-button  (click)="navigateBack()"><mat-icon style="font-size: 31px">arrow_back_io</mat-icon></button>

  <h3 class="card-header text-center font-weight-bold text-uppercase py-4" style="font-size: 25px">{{recipe.name}} Recipe</h3>

  <div class="card-body">
    <img class="center" id="recipeImage" [src]="displayImage" alt="no image"/> <hr>
    <!-- <div class="container mt-3" *ngIf="horse">-->
    <h3 class="recipe-header">
      <th>Description:</th>
      </h3 >


    <td class="recipe-text">{{recipe.description}}</td>

    <br>
    <hr>
    <h3 class="recipe-header">
      <th>Ingredients:</th>
    </h3   >
  <span  class="recipe-text">
    {{recipe.ingredients}}
  </span>
    <br>
    <hr>
    <h3 class="recipe-header">
      <th>Instructions:</th>
    </h3>

    <ul *ngFor="let ir of  recipe.instructions;let id= index ">
      <li class="recipe-text">{{ir}}</li>

    </ul>
    <hr>
    <h3>
      <th>Tags:</th>
    </h3>
    <mat-list *ngFor="let t of tags;let id= index " class="content">


      <mat-list-item *ngIf="recipe.tags.includes(t.id)">
        <mat-icon [ngStyle]="{'color':t.color}">circle</mat-icon>

        {{t.name}}

      </mat-list-item>


    </mat-list>
    <br>
    <span class="edit">
              <button    mat-raised-button id="box" mdbBtn color="orange" rounded="true" size="sm" class="my-0"
                      (click)="openRecipeEdit(content )">Edit</button>

              <button style="margin-left: 1em"  mat-raised-button mdbBtn color="orange" rounded="true" size="sm" class="my-0" (click)="remove()">Delete</button>
            </span>
    <input accept="image/png, image/jpeg"
      style="display: none;float: right"
      type="file" (change)="onFileChanged($event)"
      #fileInput>


    <button  style="float: right; margin-left: 1em" mat-raised-button  (click)="fileInput.click()">Select Image</button>

    <button mat-raised-button style="float: right;"  (click)="onUpload()">Upload</button>
    <label style=";float:right;margin-right:1em; text-align: center;"> {{selectedFileName}}</label>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Recipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <input [(ngModel)]="modalContent.name" type="text" name="modalContent.name">
        </div>
        <label>Description</label>
        <div class="input-group">
          <input [(ngModel)]="modalContent.description" type="text" name="description">
        </div>

        <div class="form-group custom-input-overlap">
          <label>Instructions</label><br>
          <textarea  style="height:100px;width:450px;font-size: 18px" appStringListInput [(stringArray)]="modalContent.instructions"
                    name="modalContent.instructions"></textarea>
        </div>
        <div class="form-group custom-input-overlap">
          <label>Ingredients</label><br>
          <mat-form-field  id="inputIngred">
            <textarea style="height:100px;width:450px;font-size: 18px" matInput
                      [(ngModel)]="modalContent.ingredients" type="text" name="modalContent.ingredients"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div style="text-align: center;">
    <button id="save-button" type="button" class="btn btn-outline-dark" (click)="save(content)">Save</button>
  </div>  </div>

</ng-template>


