@use '~@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

@include mat.core();
@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/bootstrap';



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea{
width:400px;
}

input{
width:400px;
}

form{
width:400px;
margin:0 auto;
}



mat-list {
  max-height: 50em;
  overflow: auto;
}
mat-selection-list {
  max-height: 30em;
  overflow: auto;
}

