

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #1D1F20;
}
table{
  background-color: dimgrey;
}
div{
  background-color: dimgrey;
}

html { background-color: dimgrey; }

button {
  color       : #422222;
  height      : auto;
  line-height : 21px;
  text-align  : center;
  width       : auto;
  border: 3px black;
  margin:5px;
  right:10px;
  padding-bottom: 5px;
  padding-bottom: 5px;
  padding-right:10px;
  min-width:100px;
}
