<div class="card">
  <mat-card class="card-header text-center font-weight-bold text-uppercase py-4">
    <mat-card-title>Recipes</mat-card-title>

    <!-- <div class="container mt-3" *ngIf="horse">-->
    <span class="table-add float-right mb-3 mr-2">
    <button mat-raised-button (click)="openAddRecipeModal(content)"  class="btn btn-outline-dark" rounded="true"> Add Recipe</button>
    </span>
    <div *ngIf="displayAlert" class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>Task: </strong> {{alertMessage}}
      <button (click)="hideAlert($event)" mat-raised-button>
      </button>
    </div>

  </mat-card>
</div>
<form>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</form>

<mat-list  class="content">
  <mat-list-item *ngFor="let r of dataSource.filteredData; let index= index"   >

    <h1 (click)="openRecipeDetail(index)" matLine><h4>{{r.name}}</h4></h1>

    <mat-chip-list *ngFor="let t of tags;let id = index" aria-label="tag selection">
      <ng-container *ngIf="recipes[index].tags.includes(t.id)">
        <mat-chip [ngStyle]="{'background-color':t.color}">
          <span style=" color: white;" >{{t.name}}</span></mat-chip>
      </ng-container>
    </mat-chip-list>
    <p matLine>
      <span> {{r.description}} </span>
    </p>

    <button [matMenuTriggerData]="{id:index}" [matMenuTriggerFor]="itemMenu" color="primary" mat-icon-button>
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<mat-menu #aboveMenu="matMenu" #itemMenu="matMenu">
  <ng-template let-id="id" matMenuContent>

    <!--   <button (click)="openRecipeDetail(id)" mat-menu-item>View</button>-->

<button (click)="openTagDialog(content2,id)" mat-menu-item>Tags</button>


  </ng-template>

</mat-menu>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Recipe</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" style="color:red" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align:left">
    <form>
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <input [(ngModel)]="modalContent.name" minlength="2" name="name" pattern=".{2,}" required style="width:300px;"
                 type="text" value="1">
        </div>
        <label>Description</label>
        <div class="input-group">
          <input [(ngModel)]="modalContent.description" name="description" style="width:300px" type="text">
        </div>

        <div class="form-group custom-input-overlap">
          <label>Instructions</label><br>
          <div class="input-group">
            <textarea [(stringArray)]="modalContent.instructions" appStringListInput></textarea>
          </div>
        </div>
        <div class="form-group custom-input-overlap">
          <label>Ingredients</label>
          <div class="input-group">
            <input [(ngModel)]="modalContent.ingredients" name="name" type="text">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="displayAlertModal" class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Task: </strong> {{alertMessage}}
    <button (click)="hideAlert($event)" mat-raised-button>
    </button>
  </div>
  <div class="modal-footer">
    <button (click)="save(content)" class="btn btn-outline-dark" id="save-button" style="color:black" type="button">
      Save
    </button>
  </div>

</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="tagModal">Edit Tags</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <mat-selection-list #tagSelection [(ngModel)]="this.selectedRecipe.tags" id="tagSelector">


      <mat-list-option *ngFor="let t of tags" [(value)]="t.id" [compareWith]="compareFunction">



        <mat-chip [ngStyle]="{'background-color':t.color}">
          <span style=" color: white; text-align: center" >{{t.name}}</span></mat-chip>





        <mat-divider></mat-divider>
      </mat-list-option>


    </mat-selection-list>


  </div>

  <div class="modal-footer">
    <div style="text-align: center;">
    <button (click)="saveTags(content2)" class="btn btn-outline-dark" type="button">Save</button>
  </div>  </div>
</ng-template>

